<h3>Editing Product</h3>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, {:style=>'color:#FFFFFF;', :class => "btn btn-primary"} %>
<%= link_to 'Back', products_path, {:style=>'color:#FFFFFF;', :class => "btn btn-primary"} %>
